.lala {
    color: pink;
    font-size: 100px;
     
  }
  
  body {
    font-family: 'Meow Script', cursive;
    background: #FA70DC;
     
  }
  
  .text {
    color: pink;
    font-size: 48px;
  }